<div class="alert alert-danger text-center">
  <h1 class="display-4">{{message}}</h1>
  <h2 class="mt-4">Error Status: {{error.status}}</h2>
  <pre class="mt-4">{{error.stack}}</pre>
</div>
<div class="text-center mt-5">
  <a href="/" class="btn btn-primary">Go Back to Home</a>
</div>